body {
  font-size: 24px;
  font-family: eurostile, futura, sans-serif;
  background-color: hsl(0, 0%, 5%);
  color: #fff;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  flex-direction: column;
  margin: 0;
  text-shadow: #333 1px 1px;
}

.main-title {
	font-family: eurostile-extended, futura, sans-serify;
	font-size: 2.5em;
	margin-bottom: 0;
}

.subtitle {
	font-family: eurostile-extended, futura, sans-serify;
}

p {
  margin-top: 0;
}

.hidden {
  opacity: 0;
  transition: opacity 1s;
  display: none;
}

.visible {
  opacity: 1;
  transition: opacity 2s;
}

#status-message {
	background-color: hsla(0, 100%, 50%, 0.8);
	margin: 1em;
	padding: 1em;
	text-shadow: none;
}

footer {
	font-size: 0.9em;
	margin-top: 2em;
}

ul {
	list-style-type: square;
}

button {
  text-transform: uppercase;
  color: #fff;
  font-size: 0.8em;
	/*! font-weight: 700; */
  cursor: pointer;
  background-color: hsla(0, 0%, 20%, 0.5);
  padding: 0.5em;
  border-radius: 0.5em;
  border-width: 1px;
  border-color: #fff;
  border-style: solid;
  min-width: 44px;
  box-shadow: #444 0 0 4px;
  width: 20em;
  font-family: eurostile-extended;
  letter-spacing: 2px;
}

#orbit-paths path {
  fill: none;
}

.click-target {
  cursor: pointer;
  fill: transparent;
}

.dark .click-target {
  stroke: hsla(0, 0%, 100%, 0.5);
}

.light .click-target {
  stroke: hsla(0, 0%, 0%, 0.5);
}

#board {
	position: absolute;
	z-index: 1;
}

#foreground {
	z-index: 2;
	flex-wrap: wrap;
	align-items: center;
	flex-direction: column;
	display: flex;
}

a:link {
	color: #fff;
	font-weight: 700;
}

a:visited {
	color: #ddd;
}

#controls-section {
	display: flex;
	flex-direction: column;
	background-color: hsla(0, 0%, 0%, 0.5);
	width: 80%;
	padding: 1em;
	border-radius: 0.5em;
	align-items: center;
}

.currently-playing-info {
	display: flex;
	flex-direction: column;
	margin-bottom: 1.5em;
	align-items: center;
}

.currently-playing-label {
	margin-bottom: 1em;
}

#login-section {
	display: flex;
	flex-direction: column;
	align-items: center;
}

#login-section .note {
	margin-top: 2em;
	width: 80%;
	font-size: 0.8em;
}

#version-info {
  position: absolute;
  right: 1.5em;
  top: 1.5em;
  font-size: 0.5em;
}

@media all and (max-height: 568px) {
  body {
    font-size: 18px;
  }
}

